.charsheet {
	min-width: 800px;
}

.sheet-grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 4px;
}

.sheet-grid-item {
	display: inline-block;
	padding-top: 10px;
}

.sheet-grid-item-center {
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 3px solid;
	border-left: 3px solid;
	border-color: #e8e8e8;
}

.sheet-grid-item-right {
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
}

.sheet-grid-item-left {
	display: inline-block;
	padding-top: 10px;
	padding-right: 10px;
}

.sheet-col-div-inline {
	display: inline-block;
	vertical-align: top;
}
.sheet-col-input-inline {
	display: inline-block;
	vertical-align: top;
}

.sheet-col-td {
	vertical-align: middle;
}
.sheet-col-div-border {
	border: 1px solid;
	border-color: #e8e8e8;
}

.sheet-sub-header {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 8px;
	text-align: center;
}

.sheet-sub-header-small {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 16pt;
	font-style: normal;
	padding-bottom: 8px;
	text-align: center;
}

.sheet-sub-header-small-left {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 16pt;
	font-style: normal;
	padding-bottom: 8px;
	text-align: left;
}

.sheet-vert-aligned-table {
	border-spacing: 0;
}
.sheet-vert-aligned-table tr td {
	text-align: center;
	vertical-align: top;
	padding: 2px;
}

.sheet-div-center-smaller {
	margin: auto;
	width: 65%;
	padding: 10px;
}

.sheet-md-vert {
	text-align: center;
	width: 35px;
}

.sheet-sm-vert {
	text-align: center;
	width: 25px;
}

/*
This work is licensed the MIT License.
Author: C. C. Hall (aka Cyanobacterium)
Pulled from: https://github.com/Roll20/roll20-character-sheets/blob/master/DnD5E Character Scrolls/
Minor modifications by Russell Leong
*/

/*********************************** section fotmatting ***********************************/
.sheet-text-align-left { text-align: left; }
.sheet-text-align-center { text-align: center; }
.sheet-text-align-right { text-align: right; }
.sheet-inline {
	display: inline-block;
	vertical-align: top;
}
.sheet-header {
	padding: 8px 16px;
}
.sheet-header-block {
	display: inline-block;
	padding: 6px 4px;
}
.sheet-column1 { }
.sheet-column2 { }
.sheet-column3 { } /* column 3 is for single-column pages*/
.sheet-column1-cell {
	vertical-align: top;
}
.sheet-column2-cell {
	vertical-align: top;
}
.sheet-column3-cell {
	vertical-align: top;
}
.sheet-section-title-bar {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 22pt;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 8px;
	text-align: center;
}
.sheet-section-content {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}
.sheet-section-line-item {
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}
.sheet-repeated-entry {
	border-top: 1pt solid #808080;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 4px;
}
.sheet-repeater-fieldset {
	border: none;
}
.sheet-numbox {
	width: 4em;
}
.sheet-long-numbox {
	width: 7em;
}
.sheet-long-text-input {
	width: 150px;
}
.sheet-paragraph-box {
	width: calc(100% - 16px);
	height: 4em;
	overflow: auto;
}
.sheet-list-box {
	width: calc(100% - 16px);
	height: 8em;
}
.sheet-long-list-box {
	width: calc(100% - 16px);
	height: 16em;
}
.sheet-big-bold {
	font-size: 14pt;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}
.sheet-big-bold-fancy {
	font-size: 14pt;
	font-weight: bold;
	font-family: Georgia, "Charis SIL", Utopia, Charter, serif;
}
.sheet-undertext {
	font-size: 8pt;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}
.sheet-skill-name {
	width: 120px;
}
.sheet-th-pad {
	padding-right: 6px;
}
.sheet-th-vert {
	text-align: center;
	width: 10px;
}
.sheet-th-inline {
	display: inline;
	text-align: center;
	width: 10px;
}
.sheet-td-vert {
	vertical-align: middle;
}
.sheet-sm-text {
	width: 25px;
}


/*********************************** special formatting ***********************************/
/* Chrome, Safari, Edge, Opera */
.sheet-num-hide input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.sheet-num-hide-firefox input[type=number] {
	-moz-appearance: textfield;
}

/*********************************** section box layout ***********************************/
.sheet-columns {
	border: none;
}
.sheet-columns td{
	border: none;
	padding: 4px;
}
.sheet-section-layout-table {
	border: none;
	border-spacing: 0px;
	border-collapse: separate;
}
.sheet-section-layout-table td {
	padding: 0px;
}
.sheet-section-frame {
	padding: 16px;
	width: 316px;
}
.sheet-section-frame-2x {
	padding: 16px;
	width: calc(2*316px + 72px);
}
.sheet-subsection-table {
	border-spacing: 0;
}
.sheet-subsection-table tr td {
	border-bottom: 1pt solid #808080;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
	vertical-align: top;
	padding: 2px;
}
.sheet-cell-header {
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}
.sheet-subsection-table tr th {
	border-bottom: none;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
	text-align: center;
	vertical-align: bottom;
}
.sheet-subsection-table tr:last-child td {
	border-bottom: none;
}
.sheet-subsection-table tr td:first-child {
	text-align: left;
}
.sheet-subsection-table2{
	table-layout: fixed; 
	width: 100%; 
	white-space: nowrap;
	border-spacing: 4px;
}
.sheet-subsection-table2 tr th {
	border-bottom: none;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
	text-align: center;
	vertical-align: bottom;
}
.sheet-subsection-table2 tr td {
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
	vertical-align: top;
	padding: 2px;
}
.sheet-table-hide{
	display: none;
}
input.sheet-table-hide-checkbox:checked ~ div.sheet-table-hide {
	display: block;
}

div.sheet-subsection-nontable-row	{
	border-bottom: 1pt solid #808080;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 4px;
}
div:last-child.sheet-subsection-nontable-row {
	border-bottom: none;
}
.sheet-half-width {
	display: inline-block;
	padding: 4px;
	width: calc(50% - 16px);
}
.sheet-full-width {
	display: inline-block;
	padding: 4px;
	width: calc(100% - 16px);
}
.sheet-small-padding {
	padding: 2px;
}
.sheet-header-table {
	border-spacing: 0;
}
.sheet-header-table tr td {
	text-align: center;
	vertical-align: top;
	padding: 2px;
}
.sheet-header-table label {
	padding-top: 6px;
}
.sheet-width-auto {
	width: auto;
}
.sheet-width-all {
	width: 100%;
}
.sheet-header-bottom-border {
	border-bottom: 3px solid;
	border-color: #e8e8e8;
}
.sheet-div-center {
	margin: auto;
	width: 80%;
	padding: 10px;
}


/*********************************** buttons ***********************************/
.sheet-roll-button { }


/*********************************** Tabs implementation ***********************************/
.sheet-tab-row {
	font-weight: bold;
}
.sheet-tab-button { }

.sheet-tabbed-pane {
	display: none;
}

input.sheet-tab-button-all:checked ~ div.sheet-tab {
	display: block;
}

input.sheet-tab-button1:checked ~ div.sheet-tab1, 
input.sheet-tab-button2:checked ~ div.sheet-tab2, 
input.sheet-tab-button3:checked ~ div.sheet-tab3, 
input.sheet-tab-button4:checked ~ div.sheet-tab4, 
input.sheet-tab-button5:checked ~ div.sheet-tab5, 
input.sheet-tab-button6:checked ~ div.sheet-tab6, 
input.sheet-tab-button7:checked ~ div.sheet-tab7, 
input.sheet-tab-button8:checked ~ div.sheet-tab8, 
input.sheet-tab-button9:checked ~ div.sheet-tab9 {
	display: block;
}

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-custom {
	margin-left: -37px;
}
.withoutavatars .sheet-rolltemplate-custom {
	margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container {
	border: 1px solid;
	/* by default, the border is the same color as the header. You can change this here, e.g. to black */
	border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
	background-color: var(--header-bg-color);
	/* change text-align to center to center the header text */
	text-align: left;
	color: var(--header-text-color);
	padding: 5px;
}
.sheet-rolltemplate-custom .sheet-title {
	font-size:1.1em;
}
.sheet-rolltemplate-custom .sheet-subtitle {
	font-size:.9em;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
	/* this is the default color */
	--header-bg-color: rgba(112,32,130,1);
	--header-text-color: #FFF;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
	--header-bg-color: #F00;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
	--header-bg-color: #0F0;
	--header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
	display: grid;
	background: #FFF;
	/* Header formatting - modify the column layout below */
	grid-template-columns: auto auto;
	/* Line height to match default roll template */
	line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div {
	padding: 5px;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
}

/* Empty rule, use this if you want to change the right column 
.sheet-rolltemplate-custom .sheet-value {
}
*/

/* Make even-numbered rows grey */
.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n) {
	background:#EEE;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
	grid-column: span 2;
	padding: 5px;
	text-align: center;
}

/* 5e Attack Template */

.sheet-rolltemplate-5eAttack .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
	width: 189px;
}

.sheet-rolltemplate-5eAttack .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-5eAttack div {
	padding: 2px;
};
 
.sheet-rolltemplate-5eAttack span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}
 
.sheet-rolltemplate-5eAttack .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-5eAttack .sheet-tcat {
	font-style: italic;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult	{
	background-color: #ffffff;
	border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}
 
.sheet-rolltemplate-5eAttack .inlinerollresult.importandivoll {
	color: #4A57ED;
	border: none;
}

/* 5e composition Template */

.sheet-rolltemplate-composition .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
}

.sheet-rolltemplate-composition .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-composition div {
	padding: 2px;
};
 
.sheet-rolltemplate-composition span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}
 
.sheet-rolltemplate-composition .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}
 
.sheet-rolltemplate-composition .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-composition .sheet-tcat {
	font-style: italic;
}

.sheet-rolltemplate-composition .sheet-bcat {
	font-weight: bold;
}
 
.sheet-rolltemplate-composition .inlinerollresult	{
	background-color: #ffffff;
	border: none;
}
 
.sheet-rolltemplate-composition .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}
 
.sheet-rolltemplate-composition .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}
 
.sheet-rolltemplate-composition .inlinerollresult.importandivoll {
	color: #4A57ED;
	border: none;
}

/* 5e Spell Template */

.sheet-rolltemplate-spell .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
}

.sheet-rolltemplate-spell .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-spell div {
	padding: 2px;
};
 
.sheet-rolltemplate-spell span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}
 
.sheet-rolltemplate-spell .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}
 
.sheet-rolltemplate-spell .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-spell .sheet-tcat {
	font-style: italic;
}

.sheet-rolltemplate-spell .sheet-bcat {
	font-weight: bold;
}
 
.sheet-rolltemplate-spell .inlinerollresult	{
	background-color: #ffffff;
	border: none;
}
 
.sheet-rolltemplate-spell .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}
 
.sheet-rolltemplate-spell .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}
 
.sheet-rolltemplate-spell .inlinerollresult.importandivoll {
	color: #4A57ED;
	border: none;
}

/* 5e Feature More Template */

.sheet-rolltemplate-featuremore .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
}

.sheet-rolltemplate-featuremore .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-featuremore div {
	padding: 2px;
};
 
.sheet-rolltemplate-featuremore span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}
 
.sheet-rolltemplate-featuremore .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}
 
.sheet-rolltemplate-featuremore .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-featuremore .sheet-tcat {
	font-style: italic;
}

.sheet-rolltemplate-featuremore .sheet-bcat {
	font-weight: bold;
}
 
.sheet-rolltemplate-featuremore .inlinerollresult	{
	background-color: #ffffff;
	border: none;
}
 
.sheet-rolltemplate-featuremore .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}
 
.sheet-rolltemplate-featuremore .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}
 
.sheet-rolltemplate-featuremore .inlinerollresult.importandivoll {
	color: #4A57ED;
	border: none;
}

/* 5e Desc Template */

.sheet-rolltemplate-feature .sheet-container {
	background-color: #ffffff;
	border: 1px solid;
	padding: 2px;
	width: 189px;
}

.sheet-rolltemplate-feature .sheet-container h1 {
	color: rgb(126, 45, 64);
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 20px;
}

.sheet-rolltemplate-feature div {
	padding: 2px;
};
 
.sheet-rolltemplate-feature span {
	color: rgb(126, 45, 64);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-variant: small-caps;
	line-height: 1.6em;
	padding-left: 5px;
	text-align: left;
}
 
.sheet-rolltemplate-feature .sheet-subheader {
	color: #000;
	font-size: 1em;
	font-style: italic;
}
 
.sheet-rolltemplate-feature .sheet-arrow-right {
	border-bottom: 2px solid transparent;
	border-left: 180px solid rgb(126, 45, 64);
	border-top: 2px solid transparent;
}
 
.sheet-rolltemplate-feature .sheet-tcat {
	font-style: italic;
}
 
.sheet-rolltemplate-feature .inlinerollresult	{
	background-color: #ffffff;
	border: none;
}
 
.sheet-rolltemplate-feature .inlinerollresult.fullcrit {
	color: #3FB315;
	border: none;
}
 
.sheet-rolltemplate-feature .inlinerollresult.fullfail {
	color: #B31515;
	border: none;
}
 
.sheet-rolltemplate-feature .inlinerollresult.importandivoll {
	color: #4A57ED;
	border: none;
}

/***************************/

/* spell notes hiding */

.sheet-spell-paragraph-box {
	width: calc(100% - 16px);
	height: 4em;
}
.sheet-spell-info {
	display: none;
}
.sheet-spell-info-button{
	margin: 2px;
}
input.sheet-spell-info-button:checked ~ div.sheet-spell-info {
	display: block;
}